.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}
body {
  background-color: #000000 ;
  text-align: center;
  width :800px;
  margin-right: auto;
  margin-left: auto;
  color: #FFFFFF;
  
 }
 h1 {
 background-color: black;
 color: #FFFFFF;
 font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
 }
 h2{
     font-family: "Courier New", Courier, monospace;
 }
 
  p{
     font-family: "Times New Roman", Times, serif;
  }
 h3{
  border: 3px solid rgba(255,255,255,0.99);
 }
  